{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
    {% include 'nav.html' %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 pb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            DeepL &mdash; нейронная сеть
                        </h5>
                        <p class="card-text">
                            Высокая точность определения вида эпилепсии.
                            Глубокая аналитика с вероятностями по каждому виду.
                        </p>
                        <p class="card-text">
                            Добавьте файлы с анализами в поле справа и получите аналитику по каждому файлу.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-1 pb-2">
                <div class="card" style="height: 100%">
                    <div class="card-body">
                        <form method="post" action="{% url 'api:check_files' %}"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group image-upload-wrap">
                                <label for="file-input">Выберите файлы</label>
                                <input type="file" class="form-control-file" name="document-files" id="file-input"
                                       multiple>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="epileptic-search-upload">
                                    Отправить
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Результаты</h5>
                <a href="#" class="card-link" id="download-link">Скачать в CSV</a>
                <div class="row" id="epileptic-results" style="margin-top: 20px"></div>
            </div>
        </div>
    </div>

    {% include 'frontend/error_modal.html' %}
{% endblock %}