{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "assets/bootstrap-4.2.1/css/bootstrap.min.css" %}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    {% block styles %}{% endblock %}

    <title>DeepL{% block title %}{% endblock %}</title>
</head>
<body>

{% block body %}{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static "assets/jquery-3.3.1/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "assets/bootstrap-4.2.1/js/bootstrap.bundle.min.js" %}"></script>
<!-- File upload -->
<script src="{% static "js/file-upload.js" %}"></script>

{% block scripts %}{% endblock %}
</body>
</html>