<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4" style="height: 80px">
    <h2 style="position: absolute;
    color: white;
    width: 100%;
    left: 0;
    top: 20px;
    text-align: center;
    margin: auto;">
        DeepL. Deep epilepsy classification
    </h2>
</nav>